# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore log files
*.log

# Ignore virtual environment directories
venv/
env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other unnecessary files
*.swp
*.bak
*.tmp